Source: itaka
Section: web
Priority: extra
Maintainer: Marc E. <santusmarc@users.sourceforge.net>
Build-Depends: imagemagick, docbook-to-man, python, intltool, gettext, debhelper (>= 5.0.37.2)
Standards-Version: 3.7.2

Package: itaka
Architecture: all
Depends: python (>=2.3), python-gtk2 (>= 2.10), python-twisted-web
Recommends: python-libnotify
Description: On-demand screenshooting server
 Itaka is a on-demand screenshooting server based on the HTTP protocol.
 It integrates a specifically coded server to take screenshots on-demand when
 your machine is queried through a remote browser. 
 .
 It features the following:
  * Supports PNG/JPEG (with quality adjustment) image types.
  * Basic HTTP authentication.
  * Simple manipulation of the screenshot through scaling and quality
    adjustments. 
  * Very polished GUI with notifications using Libnotify. 
