Source: itaka
Section: net
Priority: optional
Maintainer: Marc E. <santusmarc@users.sourceforge.net>
Build-Depends: imagemagick, docbook-to-man, python, debhelper (>= 5.0.37.2)
Build-Depends-Indep: python-support
Homepage: http://itaka.jardinpresente.com.ar
Standards-Version: 3.8.2

Package: itaka
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2 (>= 2.10), python-twisted-web
Recommends: python-libnotify
Description: On-demand screenshooting server
 Itaka is a on-demand screenshooting server based on the HTTP protocol.
 It integrates a specifically coded server to take screenshots on-demand when
 your machine is queried through a remote browser. 
 .
 It features the following:
  * Supports PNG/JPEG (with quality adjustment) image types.
  * Basic HTTP authentication.
  * Simple manipulation of the screenshot through scaling and quality
    adjustments. 
  * Desktop notifications.
