[Desktop Entry]
Name=Itaka Screenshot Server
Name[es]=Servidor de pantallas Itaka
Name[fr]=Serveur de captures d'écran Itaka
Exec=itaka
GenericName=Itaka on-demand screenshot server
GenericName[es]=Servidor de pantallas por demanda Itaka
GenericName[fr]=Itaka, serveur de captures d'écran à la demande
Comment=Share your screen on-demand
Comment[es]=Comparte tu pantalla
Comment[fr]=Partagez votre écran sur demande
StartupNotify=true
Icon=itaka
Terminal=false
Type=Application
Categories=Network;Monitor;GTK;
