[Desktop Entry]
Name=Itaka Screenshot Server
Name[es]=Servidor de pantallas Itaka
Exec=itaka
GenericName=Itaka on-demand screenshot server
GenericName[es]=Servidor de pantallas por demanda
GenericName[fr]=Itaka, serveur de captures d'écran à la demande
Comment=Screenshot server
Comment[es]=Servidor de capturas de pantalla
Comment[fr]=Serveur de captures d'écran
StartupNotify=true
Icon=itaka
Terminal=false
Type=Application
Categories=Network;Monitor;GTK;
